.popup__button-save_disabled{
    background-color: transparent;
    color: rgba(0, 0, 0);
    opacity: .2;
    border: 1px solid black;
}

.popup__button-save_disabled:hover {
    cursor: default;
    opacity: .2;
  }